.top-bar {
    width: 100%;
    height: 93px;
    background: #FFFFFF;
}

.company-logo {
    font-style: normal;
    font-weight: 700;
    font-size: 2.4375rem;
    line-height: 93px;
    height: 93px;
    /* letter-spacing: 0.005em; */
    color: #F86338;
    vertical-align: middle;
    display: inline-block;
    margin-left: 5%;
}

.top-bar-links {
    float: right;
    margin-right: 5%;
}

.top-bar-links div {
    line-height: 93px;
    height: 93px;
}


