.search-bar {
    width: 100%;
    height: 93px;
}

.search-bar-links{
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
}

.search-bar-links div {
    line-height: 93px;
    height: 93px;
}

.search-bar .search-input{
    width: 40%;
    display: inline-block;
}


.search-bar-buttons{
    margin-right: 5%;
    float: right;
    height: 93px;
    line-height: 93px;
    font-size: 1.25rem;
}

.search-bar-buttons .icon{
    margin-left:2rem;
}
